{% load static %}
 <link rel="stylesheet" href={% static 'style.css' %} >
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HELLO Predictor</h1>
<p class="myy">aaaaa</p>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>weight</label>
    <br/>
    <input name="weight" type="number"/>
    <br/>
    <label>size</label>
    <br/>
    <input name="size" type="number">
    <br/>
    <input type="submit">
    <br/>
</form>

{% if result is not None %}
    <h1>Prediction Result : {{ result }}</h1>
{% endif %}
</body>
</html>